*{
    padding: 0;
    margin: 0;
}

.page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('img/background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-img-title {   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-img {
    width: 350px;
    height: auto;
    margin-bottom: -25px;
}
.hero-img {
    width: 100%;
    height: 100%;
}
.wrap-title {
    width: 100%;
    color: #4f4f4f;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Manrope';
}


.wrap-col {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
}


.column-small {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-image {
    width: 100%;    
}
.side-image2 {
    display: flex;
    justify-content: center;
    width: 40%;    
}

.column-big {
    width: 70%;
    height: auto;
}


.slick-prev {
    position: absolute;
    top: 48%;
}

.slick-prev.visible {
    position: absolute;
    top: 48%;
}
.slick-prev:before {
    position: absolute;
    right: -5px;
    content: '←';
}


.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.start-slide {
    width: 221px;
    height: 500px;
}
.wrap-start-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.start-btn {
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
}


/*****************************************/
@media only screen and (min-width: 576px) {
    @media only screen and (min-height: 576px) {
        .slide {
            -webkit-box-flex: initial;
            -ms-flex: initial;
            flex: initial;
            height: 87%;
            padding-inline: 30px;
            margin-block: auto;
            aspect-ratio: 9 / 16;
            will-change: height;
            -webkit-transition: height .5s ease;
            -o-transition: height .5s ease;
            transition: height .5s ease;
        }
    }
}
.slide.image .story, .slide.video .story {
    background-color: var(--lightgray);
}
@media only screen and (min-width: 576px) {
    @media only screen and (min-height: 576px) {
        .slide .story {
            aspect-ratio: 9 / 16;
            border-radius: 30px;
            overflow: hidden;
        }
    }
}
.slide .inner {
    display: block;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
}
@media (any-hover: hover) {
    a, .cursor {
        cursor: pointer;
    }
}
a, div {
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
}
.slide.video .video, .slide.video.active .image {
    opacity: 0;
}
.slide.video .video, .slide.video .image {
    will-change: opacity;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.slide .image, .slide .video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.slide.video .image {
    z-index: 1;
}
.slide.video.active .video, .slide.video .image {
    opacity: 1;
}

.slide.video .video, .slide.video .image {
    will-change: opacity;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.slide .image {
    -o-object-fit: cover;
    object-fit: cover;
}
.slide .image, .slide .video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
img, svg {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.slide.video .inner:after {
    content: "";
    position: absolute;
    inset: 0;
}

@media (any-hover: hover) {
    a, .cursor {
        cursor: pointer;
    }
}
a {
    color: inherit;
    text-decoration: none;
}
.slide.active .sound {
    opacity: 1;
    visibility: visible;
}

@media (any-hover: hover) {
    a, .cursor {
        cursor: pointer;
    }
}
.sound {
    position: absolute;
    inset: auto 3% 3% auto;
    z-index: 1;
    width: clamp(40px, 7vw, 50px);
    height: clamp(40px, 7vw, 50px);
}
.loader.hide, .door.hide, .sound {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, visibility .5s ease;
    -o-transition: opacity .5s ease, visibility .5s ease;
    transition: opacity .5s ease, visibility .5s ease;
}

.video-frame {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .hero-img {
        width: 60%;
        height: 100%;
    }
    .wrap-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrap-title{
        text-align: center;
        width: 70%;
        font-size: 16px;
    }

    .wrap-col {
        flex-direction: column;
    }
    .column-small {
        width: 30%;
        height: 21%;
    }

}